<!DOCTYPE html>
<html>
<body>
<head>
    <meta charset="utf-8">
    <title>Fx Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<h1>Fx Calculator</h1>

<form action="{{url_for('calculate')}}", method="post">    
  <div>
    <label for="currency">Choose a currency:</label>
      <select class="banner" name="currencyType" id="selectCurrency">
        <option value="dolar amerykański">USD</option>
        <option value="dolar australijski">AUD</option>
        <option value="dolar kanadyjski">CAD</option>
        <option value="euro">EUR</option>
        <option value="forint (Węgry)">HUF</option>
        <option value="frank szwajcarski">CHF</option>
        <option value="funt szterling">GBP</option>
        <option value="jen (Japonia)">JPY</option>
        <option value="korona czeska">CZK</option>
        <option value="korona duńska">DKK</option>
        <option value="korona norweska">NOK</option>
        <option value="korona szwedzka">SEK</option>
      <option value="SDR (MFW)">SDR</option>
    </select>
  </div><br>
  <div>
    <label>Currency amount:</label>
    <input class="banner" type="number" name="currencyAmount" placeholder="Insert currency amount" required/>
  </div> 
  <div>    
      <input type="submit" value="calculate"/>
  </div>
  
  <div>
    <label>Buy value:</label>
    <input class="banner" type="text" placeholder="Buy value:" value={{result}}>
  </div>

        
</form>

</body>
</html>