<!DOCTYPE html>
<html>
<body>
<head>
    <meta charset="utf-8">
    <title>Fx Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<h1>Fx Calculator</h1>

<form action="{{url_for('calculate')}}", method="POST">    
  <div>
    <label for="currency">Choose a currency:</label>
      <select class="banner" name="currencyType" id="currencyType">
        <option value="USD">USD</option>
        <option value="AUD">AUD</option>
        <option value="CAD">CAD</option>
        <option value="EUR">EUR</option>
        <option value="HUF">HUF</option>
        <option value="CHF">CHF</option>
        <option value="GBP">GBP</option>
        <option value="JPY">JPY</option>
        <option value="CZK">CZK</option>
        <option value="DKK">DKK</option>
        <option value="NOK">NOK</option>
        <option value="SEK">SEK</option>
        <option value="XDR">XDR</option>
      </select>
  </div><br>
  <div>
    <label>Currency amount:</label>
    <input class="banner" type="number" name="currencyAmount" placeholder="Insert currency amount" required/>
  </div> 
  <div>    
      <input type="submit" value="calculate"/>
  </div>
</form>

<div>
  <label>Buy value:</label>
  <input class="banner" type="text" placeholder="Buy value:" value={{result}}>
</div> 

</body>
</html>